.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 1rem;
  border-bottom: 1px ridge;
}
.jumbotron {
  margin: 0px auto;
  background: #2a2730;
  color: floralwhite;
}

.navbar-dark {
  color: #000000;
  background-color: #000000;
}

.square {
  position: relative;
  width: 50%;
  border-color: red;
  border-width: 5px;
}

.square:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.borderColor {
  border-color: rgb(0, 0, 0);
  border-width: 1px;
  border-style: ridge;
}

body {
  padding: 50px 0px 50px 0px;
  z-index: 0;
}

.buttons {
  display: flex;
  flex: none;
}

.cardTitle {
  border-width: 1px;
  border-color: black;
}
